body {
  padding: 1rem;
  justify-content: center;
  background-color: rgba(240, 227, 130, 0.419);
  margin: 0 auto;
  background-image: url("background.jpg");
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
}

h1 {
  text-align: center;
  padding: 20px;
  background-color: rgb(135, 193, 220);
  font-family: Montserrat bold;
  border-radius: 1rem;
  width: 40rem;
  margin: 1rem auto 2rem;
  box-shadow: 0 5px rgb(65, 60, 60);
}

.movie {
  border: solid;
  padding: 2rem;
  margin: 1rem;
  width: 60rem;
  border-radius: 1rem;
  background-color: rgb(240, 248, 255, 0.9);
  font-size: 20px;
}

button {
  color: rgb(228, 234, 239);
  background-color: rgb(45, 75, 88);
  font-size: 20px;
  border-radius: 10px;
  height: 3rem;
  width: auto;
  margin: 1rem;
  cursor: pointer;
  box-shadow: 0 5px rgb(65, 60, 60);
}

button:hover {
  color: rgb(45, 75, 88);
  border-color: currentColor;
  background-color: white;
  border: solid;
}

button:active {
  transform: translateY(1px);
  filter: saturate(150%);
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(228, 234, 239);
  background-color: rgb(45, 75, 88);
  font-size: 20px;
  border-radius: 10px;
  width: 12rem;
  height: 3rem;
  margin: 1rem;
  cursor: pointer;
  box-shadow: 0 5px rgb(65, 60, 60);
  padding-bottom: -1rem;
}

.input:hover {
  color: rgb(45, 75, 88);
  background-color: white;
  border-width: 0.4rem;
  border: solid;
}

.input:active {
  transform: translateY(1px);
  filter: saturate(150%);
}

#movies-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 30rem;
  padding: 1rem;
  border: solid;
  font-weight: 600;
  text-align: center;
  line-height: 2rem;
  margin: auto;
  align-items: center;
  background-color: rgb(240, 248, 255, 0.9);
}
